<li
[ngClass]="{'even': (i % 2 === 0), 'odd': (i % 2 !== 0)}"
class="list_item"
appFade
*ngFor="let result of searchResults.items; index as i">
  <div class="content">
    <div class="content-image">
      <img class="avatar" [src]="result.owner.avatar_url" />
    </div>
    <div class="content-body">
      <a [href]="result.html_url">
        <h4 class="title">{{result.name}}
          <small> by {{result.owner.login | uppercase}}</small>
        </h4>
      </a>
      <span class="description description-text">{{result.description}}</span>
      <span class="description"> Created On: {{result.created_at | date:'fullDate'}} </span>
      <span class="description"> Programming language: {{result.language}} </span>
    </div>
  </div>
</li>
