<div class="wrapper">
  <h3 class="wrapper-title">GitHub search</h3>
  <div class="wrapper-mat_input" *ngIf="!additionalData; else null">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput [value]="querySearch" [type]="'text'" (input)="onChange($event)">
    </mat-form-field>
  </div>
  <div class="wrapper-filter" *ngIf="!additionalData; else null">
    <div class="filter">
      <div class="filter-title">Select filter for programming language</div>
      <div class="filter-checkboxes">
        <mat-checkbox color="primary" (change)="onCheck($event)" [name]="filters[0].name" [checked]="filters[0].isChecked"
                      class="filter-checkbox example-margin">{{ filters[0].name }}</mat-checkbox>
        <mat-checkbox color="primary" (change)="onCheck($event)" [name]="filters[1].name" [checked]="filters[1].isChecked"
                      class="filter-checkbox example-margin">{{ filters[1].name }}</mat-checkbox>
        <mat-checkbox color="primary" (change)="onCheck($event)" [name]="filters[2].name" [checked]="filters[2].isChecked"
                      class="filter-checkbox example-margin">{{ filters[2].name }}</mat-checkbox>
        <mat-checkbox color="primary" (change)="onCheck($event)" [name]="filters[3].name" [checked]="filters[3].isChecked"
                      class="filter-checkbox example-margin">{{ filters[3].name }}</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="wrapper-body" *ngIf="!isLoad; else loadingBlock">
    <div *ngIf="additionalData; then additionalDataBlock else resultsBlock"></div>
  </div>
</div>

<ng-template #resultsBlock>
  <div class="results_block" *ngIf="repositories?.items.length; else noResultsBlock">
    <ul class="list">
      <app-repository-display
        [searchResults]="repositories"
        *ngIf="repositories"
      >
      </app-repository-display>
    </ul>
  </div>
</ng-template>

<ng-template #noResultsBlock>
  <div class="loading">No results found!</div>
</ng-template>

<ng-template  #loadingBlock>
  <div class="loading">Loading...</div>
</ng-template>

<ng-template  #additionalDataBlock>
  <app-additional-data class="additional-data"
    [additionalData]="additionalData"
    *ngIf="additionalData"
  >
  </app-additional-data>
</ng-template>
