<div class="wrapper">
  <h3 class="wrapper-title">GitHub search</h3>
  <div class="wrapper-mat_input">
    <mat-form-field appearance="fill">
      <mat-label>Search or jump to...</mat-label>
      <input matInput [type]="'text'" (input)="onChange($event)">
    </mat-form-field>
  </div>
  <div class="wrapper-body">
    <div class="wrapper-body" *ngIf="!isLoad; else loadingBlock">
      <div class="results_block" *ngIf="repositories?.total_count; else noResultsBlock">
        <ng-container *ngTemplateOutlet="resultsBlock"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #resultsBlock>
  <ul class="list">
    <app-repository-display
      [searchResults]="repositories"
      *ngIf="repositories">
    </app-repository-display>
  </ul>
</ng-template>

<ng-template #noResultsBlock>
  <div class="loading">No results found!</div>
</ng-template>

<ng-template  #loadingBlock>
  <div class="loading">Loading...</div>
</ng-template>
