.list {
  list-style-type: none;
}
.title {
  font-size:20px;
}

/* Form validation */
.ng-valid:not(form) {
  border: 2px solid #42A948;
}
.ng-invalid:not(form) {
  border: 2px solid #a94442;
}

.search-input{
  background-color: #24292e;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-title{
    background-color: #24292e;
    color: whitesmoke;
    margin: 0;
    padding: 20px;
  }

  &-mat_input {
    border-bottom: 1px solid #24292e;
    margin-top: 20px;

    .mat-form-field {
      width: 245px;
    }
  }

  &-search_button {
    background-color: #565a59;
  }

  &-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.loading{
  color: #292929;
  font-size: 30px;
}

.results_block{
  width: 100%;
}
